<div class="container">
  <h1>My profile show</h1>
   <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
    <%= image_tag('user.png', height: 300, width: 400, crop: :fill) %>
  <% end %>
  <div>
  <h4><%= @user.first_name %></h4>
  <h4><%= @user.gender %></h4>
  <h4><%= @user.location %></h4>
  <h4><%= @user.description %></h4>
    <% if @user.languages %>
    <%= @user.languages.each do |language| %>
     <%= language %>
    <% end %>
    <% end %>
  </div>
</div>
