<div class="show-profile-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-10 col-sm-offset-4">
        <div class="form-show-profile">
          <h1 class="text-center">My profile</h1>
          <div class="profile-header">
           <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, height: 200, width: 200, crop: :fill, class:"foto-profile" %>
            <% else %>
            <%= image_tag('user.png', height: 200, width: 200, crop: :fill, class:"foto-profile") %>
            <% end %>
            <h4>A local in <i class="fas fa-map-pin"></i> <%= @user.city %>, <%= @user.country %></h4>
          </div>
            <div>
              <p><%= @user.first_name %></p>
              <p><%= @user.gender %></p>
              <p><%= @user.description %></p>
              <% if @user.languages %>
                <% @user.languages.each do |language| %>
                 <%= language %>
              <% end %>
            <% end %>
            <h4 class="my-4">My interests</h4>
            <% unless @user.interests.empty? %>
              <% @user.interests.each do |interest| %>
                <div class="active-tag"><%= interest.name %></div>
              <% end %>
            <% else %>
              <p>You haven't added any interests yet!<p>
            <% end %>
          </div>
          <div class="show-buttons">
            <%= link_to "Edit profile", edit_profile_path, class:'profile-green-btn' %>
            <%= link_to "Add interests", new_user_interest_path, class:'profile-interest-btn' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
