<div class="meetups-form-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-10 col-sm-offset-4">
        <h4 class="title-meetup">Let's explore <%= @conversation.local.location %> with <%= @conversation.local.first_name %></h4>
        <div class="form-meetups">
          <%= simple_form_for [@conversation, @meetup] do |f| %>
            <%= f.error_notification %>
            <%= f.input :location %>
            <%= f.input :date_time, label: "Date", as: :date, html5: true %>
            <%= f.submit 'Save meetup!', class: "btn btn-success w-100 text-white mb-2" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
