<div class="recommendations-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-10 col-sm-offset-4">
        <div class="form-recommendations">
            <%= simple_form_for @recommendation do |f| %>
              <%= f.input :photo, as: :file, label:false %>
              <%= f.error_notification %>
              <%= f.input :name %>
              <%= f.input :location, hint: 'Where is your favourite place?' %>
              <%= f.input :description, input_html: {rows: 4}, hint: 'Describe what you love about it.' %>
              <div class="pricing-boxes">
                <%= f.input :pricing, as: :radio_buttons, collection: Recommendation::PRICING_TYPE, input_html: {class: 'pricing-checkbox'} %>
              </div>
              <%= f.submit 'Save recommendation', class: "recommendations-green-btn" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
