<div class="conversations-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="chat-cards-wrapper col-xs-12 col-sm-4 col-sm-offset-4">
         <h3 class ="chat-index-title my-4">Locally chats</h3>
         <% if @conversations.any? %>
         <% @conversations.each do |conversation|  %>
            <div class="card-conversation">
              <% if conversation.local == current_user %>
                <% if conversation.tourist.photo.attached? %>
                  <%= link_to user_path(conversation.tourist), class:"link-photo" do %>
                    <%= cl_image_tag conversation.tourist.photo.key %>
                  <% end %>
                <% else %>
                  <%= image_tag('user.png') %>
                <% end %>
                <%= link_to conversation_path(conversation), class: 'conversation-link-text' do %>
                  <p><%= conversation.tourist.first_name %>, <%= conversation.tourist.age %></p>
                  <p><i class="fas fa-map-pin"></i> <%= conversation.tourist.location %></p>
                <% end %>
              <% else %>
                <% if conversation.local.photo.attached? %>
                  <%= link_to user_path(conversation.local), class:"link-photo" do %>
                    <%= cl_image_tag conversation.local.photo.key %>
                  <% end %>
                <% else %>
                  <%= image_tag('user.png') %>
                <% end %>
                <%= link_to conversation_path(conversation), class: 'conversation-link-text' do %>
                  <p><%= conversation.local.first_name %>, <%= conversation.local.age %></p>
                  <p><i class="fas fa-map-pin"></i> <%= conversation.local.location %></p>
                <% end %>
              <% end %>
              <%= link_to conversation_path(conversation), method: :delete, class: 'delete-btn-chat' do %>
                <i class="fas fa-times"></i>
              <% end %>
              <%= link_to "Open chat", conversation_path(conversation), class: "btn-meetup" %>
            </div>
          <% end %>
          <% else %>
            <h6 class="text-white text-center mt-5">You don't have any active chats at the moment</h6>
          <% end %>
      </div>
    </div>
  </div>
</div>

