<div class="chat-wrapper">
  <div class="chat-header d-flex align-items-center">
    <% if @conversation.tourist == current_user %>
      <% if @conversation.local.photo.attached? %>
           <%= cl_image_tag @conversation.local.photo.key, class:"avatar-big" %>
        <% else %>
            <%= image_tag('user.png', class:"avatar-big") %>
        <% end %>
      <h5 class="ml-2"><%= @conversation.local.first_name %> from <%= @conversation.local.location %></h5>
    <% else %>
      <% if @conversation.tourist.photo.attached? %>
        <%= cl_image_tag @conversation.tourist.photo.key, class:"avatar-big" %>
      <% else %>
        <%= image_tag('user.png', class:"avatar-big") %>
      <% end %>
      <h5 class="ml-2"><%= @conversation.tourist.first_name %> from <%= @conversation.tourist.location %></h5>
    <% end %>
  </div>

  <div id="messages" data-conversation-id="<%= @conversation.id %>">
    <% @conversation.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>

  <div class="chat-input fixed-bottom">
    <%= simple_form_for [ @conversation, @message ], html: { class: "form-row d-flex justify-content-around"}, remote: true do |f| %>
    <%= f.input :content, label: false, wrapper_html: { class: "flex-grow-1", style: "height: 40px" } %>
    <%= button_tag(type: 'submit', class: "chat-btn flex-grow-0", style: "width: 55px") do %>
      <i class="fas fa-paper-plane chat-icon" ></i>
    <% end %>
    <% end %>
  </div>
</div>
