<div class="container">
  <div class="row">
    <div class="col-7">
      <h1>Find a <strong>local</strong></h1>
    </div>
    <div class="col-5">
      <p id="percentage-description">* this is the match of your interests with the locals' interests</p>
    </div>
  </div>

  <% if params[:commit] == "Let's go!" %>
    <% local_array = @locals_location.sort_by { |local_sorted| -local_sorted.instance_variable_get("@ranking") } %>
    <% local_array. each do |local| %>
      <div class="local-card">
        <div class="row">
          <div class="col-2">
            <div class="profile-photo">
              <% if local.photo.attached? %>
                <%= cl_image_tag local.photo.key, height: 50, width: 50, crop: :fill %>
              <% else %>
                <%= image_tag('user.png', height: 50, width: 50, crop: :fill) %>
            <% end %>
            </div>
          </div>
          <div class="col-6">
            <strong><%= "#{local.username.capitalize}, #{local.age}" %></strong>
            <p><%= local.location %></p>
            <hr>
            <p>Let's meet for:</p>
            <% local.interests.each_with_index do |interest, index| %>
              <%= "#{interest.name}, "%>
              <% if index == local.interests.size - 1 %>
                <%= "#{interest.name}"%>
              <% end %>
            <% end %>
          </div>
          <div class="d-flex col-4 justify-content-center">
            <div id="profile-button">
              <%= link_to "Go to profile", user_path(local), class: 'profile-link' %>
            </div>
            <div id="match-button">
              <%= "#{local.instance_variable_get("@ranking")}%*" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
      <div class="local-card">
        <div class="row">
          <div class="col-2">
            <div class="profile-photo">
              <% if @random_local.photo.attached? %>
                <%= cl_image_tag @random_local.photo.key, height: 50, width: 50, crop: :fill %>
              <% else %>
                <%= image_tag('user.png', height: 50, width: 50, crop: :fill) %>
            <% end %>
            </div>
          </div>
          <div class="col-6">
            <strong><%= "#{@random_local.username.capitalize}, #{@random_local.age}" %></strong>
            <p><%= @random_local.location %></p>
            <hr>
            <p>Let's meet for:</p>
            <% @random_local.interests.each_with_index do |interest, index| %>
              <%= "#{interest.name}, "%>
              <% if index == @random_local.interests.size - 1 %>
                <%= "#{interest.name}"%>
              <% end %>
            <% end %>
          </div>
          <div class="d-flex col-4 justify-content-center">
            <div id="profile-button">
              <%= link_to "Go to profile", user_path(@random_local), class: 'profile-link' %>
            </div>
            <div id="match-button">
              <%= "#{@random_local.instance_variable_get("@ranking")}%*" %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
