<ul class="navbar fixed-bottom">
  <% if user_signed_in? %>
    <li>
      <%= link_to root_path do %>
        <i class="navbar-link fas fa-home <%= 'nav-active' if params[:controller] == "pages" && params[:action] == "home" %>"></i>
      <% end %>
    </li>
    <li>
      <%= link_to conversations_path do %>
      <i class="navbar-link far fa-comments <%= 'nav-active' if params[:controller] == "conversations" && params[:action] == "index" %>"></i>
    <% end %>
    <% if current_user.notifications.where(seen: false).any? %>
      <%= current_user.notifications.count %>
    <% end %>
    </li>
    <li>
      <%= link_to search_path do %>
      <i class="navbar-link fas fa-globe-americas <%= 'nav-active' if params[:controller] == "pages" && params[:action] == "search" %>"></i>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "#", class: "nav-link" do %>
        <i class="navbar-link fas fa-bell"></i>
      <% end %>
      </li>
    <li>
      <%= link_to profile_path(current_user.id) do %>
        <i class="navbar-link far fa-user <%= 'nav-active' if params[:controller] == "profiles" && params[:action] == "show" %>"></i>
      <% end %>
    </li>
    <% else %>
    <li class="nav-item">
      <%= link_to "Login", new_user_session_path, class: "navbar-link" %>
    </li>
  <% end %>
</ul>
